/*************************** UNIVERSAL STYLING ***************************/
html {
    background-color: rgb(247, 247, 248); /* throughout the entire site, the background will be this colour*/
}

header {
    background-color: transparent; 
    display: flex; 
    align-items: center;
    justify-content: center;
}

.headerul { /* flexbox is used to display the header navigation items (which are an image and two text links)*/
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 0px;
    margin: auto;
}

.headernav {
    margin: 40px;
    font-size: 18px;
    background-color: transparent;
}

li {
    list-style-type: none;
}

.headernav a:link, .headernav a:visited, .headernav a:hover, .headernav a:active {
    text-decoration: none;
    color: black;
}

footer {
    color: #FFFFFF;
    background-color: #474747;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    padding: 35px 10px 8px 10px;
}

.footerul {
    padding: 20px;
    padding-left: 30px;
    margin: 10px;
    flex: 25%;
    order: 1;
}

.footerlogo {
    padding: 20px;
    margin: 10px;
    flex: 38%;
    text-align: right;
    order: 2;
}

.footeraddress1 {
    padding: 30px;
    margin: 10px;
    flex: 45%;
    align-items: center;
    order: 3;
}


.copyright {
    padding: 30px;
    margin: 10px;
    padding-top: 70px;
    flex: 1%;
    order: 4;
}

.socials {
    padding: 30px;
    margin: 10px;
    flex: 25%;
    text-align: right;
    order: 5;
}

.footernav {
    padding-bottom: 15px;
}

.footernav a:link, .footernav a:visited, .footernav a:hover, .footernav a:active { /* in all active states for the footer site navigation, i want the text styled to be white (versus the nav in the header, which is black)*/
    text-decoration: none;
    color: white;
    font-size: 12px;
}

address {
    font-style: normal;
}

.notbold {
    font-weight: normal;
}

.bold {
    font-weight: bold;
}

/*************************** FONT ***************************/

@font-face { /* the main font used was sourced through google and placed here, using two components - specifying the font family and the source of the actual font*/
    font-family: 'Spline Sans';
    src: url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap');
}

html { /* this code indicates that i want this font to be used throughout the entire html*/
    font-family: 'Spline Sans';
}

.headernav { /* in the header nav class, i specify that i want the font more bold*/
    font-weight: 600;
}

footer {
    font-weight: 300;
    font-size: 12px;
}

h3 {
    font-weight: 300;
}
/*************************** INDEX - LANDING PAGE ***************************/
.hero {
    background-image: url("../images/homebg.png"); /* this is the hero image source, which does not get coded in the html*/
    background-position: center;
    background-repeat: no-repeat; /* the height of the image is shorter than it is wide, so i need to specify that i only want it displayed once, where the default is to repeat it to fit the section*/
    background-size: cover;
    position: relative;
}
.bannerlogo {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 800px;
}

/***************************  ABOUT PAGE ****************************/

.aboutheading {
   display: grid; 
   align-items: center;
   justify-content: center; /* this heading will be in the center of the page no matter what */
   margin: auto;
   height: 300px;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 100px;
}

.abouttext {
    margin-left: 5%;
    font-size: 16px;
}
/*************************** CONTACT PAGE ****************************/

.contactform {
    display: grid; /* i used grind to display all the contact form input items, so they are stacked on top of each other */
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

input[type=text] { /* this targets styling based on input, so in this case all the text boxes*/
    padding: 10px;
    background-color: #e2e2e2; /* this setss the background colour for the input rectangles ONLY*/
    border: 1px solid rgb(128, 128, 128); 
    border-radius: 2px; 
    box-sizing: border-box; 
    margin-top: 5px; 
    margin-bottom: 10px; 
    width: 600px;
  }

textarea {
    padding: 10px;
    background-color: #e2e2e2;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 2px; 
    box-sizing: border-box; 
    margin-top: 5px; 
    margin-bottom: 10px; 
    width: 600px;
}

input[type=submit] {
    width: 110px;
    height: 50px;
    font-weight: bold; /* by default the button has a regular font weight, so i wanted to specify that it should be bold*/
    font-size: 16px;
    margin-top: 10px;
}

.contactheading {
     display: grid;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 300px;
}

.googlemaps {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.vancouveraddress {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 30px;
    text-align: center;
    margin-bottom: 30px;
}

